@import "tailwindcss";

@theme {
  --color-primary: #8ff5ff;
  --color-primary-container: #00eefc;
  --color-secondary: #2ff801;
  --color-tertiary: #ff6b9b;
  --color-surface-container-lowest: #000000;
  --color-surface: #0e0e0e;
  --color-surface-container-low: #131313;
  --color-surface-container-high: #201f1f;
  --color-surface-container-highest: #262626;
  --color-surface-variant: #262626;
  --color-outline-variant: #484847;
  --color-outline: #767575;
  --color-background: #0e0e0e;
  --color-on-background: #ffffff;
  --color-on-primary: #005d63;

  --font-headline: var(--font-space-grotesk);
  --font-body: var(--font-space-grotesk);
  --font-label: var(--font-inter);

  --radius-DEFAULT: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
}

@layer utilities {
  .grain-overlay {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.05;
    pointer-events: none;
  }
}

html, body {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-on-background);
  overflow-x: hidden;
}
